.tile {
    background-color: $primaryColor;
    display: block;
    margin-top: 10px;
    padding: 120px 20px 20px 20px;
    text-align: right;
    color: #fff;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;

    &:hover, &:active, &:focus {
      background-color: $gray;
      color: #fff;
      text-decoration: none;
    }
}
