<footer class="footer">
<div class="container">
<div class="row upper-section">
  <div class="col-xs-12 col-sm-3">
    <div class="title">About</div>
    <div class="description">A curated directory of Pokemon GO resources</div>
  </div>
  <div class="col-xs-12 col-sm-3">
      <div class="title">Navigate</div>
      <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/about">About</a></li>
          <li><a href="" target="_blank">Github</a></li>
          <li><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="5CT8K68F95SRL">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
          </li>
      </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
      <div class="title">Updates</div>
      <ul>
          <li><a href="#" data-toggle="modal" data-target="#myModal">Get the newsletter</a></li>
          <li><a href="https://twitter.com/pokestack" target="_blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/PokeStack/" target="_blank">Facebook</a></li>
          <li><a href="https://plus.google.com/" target="_blank">Google+</a></li>
      </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="title">Tips</div>
    <ul>
        <li><a class="cursor-link">Submit a new resource</a></li>
        <li><a class="cursor-link">Report a dead link</a></li>
    </ul>
  </div>
</div>
</div>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <section>All content copyright <a href="http://pokestack.com">PokeStack</a> &copy; All rights reserved.</section>
          <section class="footer-text">Made with love in <strong>Amsterdam</strong></section>
      </div>
    </div>
  </div>
</div>
</footer>
