<footer class="footer">
<div class="container">
<div class="row upper-section">
  <div class="col-xs-12 col-sm-3">
    <div class="title">About</div>
    <div class="description">A curated directory of Pokemon GO resources</div>
  </div>
  <div class="col-xs-12 col-sm-3">
      <div class="title">Navigate</div>
      <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/about">About</a></li>
          <li><a href="https://github.com/PokeStackers/PokeStack" target="_blank">Github</a></li>
          <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5CT8K68F95SRL" target="_blank">Donate</a></li>
      </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
      <div class="title">Updates</div>
      <ul>
          <li><a class="cursor-link" data-toggle="modal" data-target="#modal">Get the newsletter</a></li>
          <li><a href="https://twitter.com/pokestack" target="_blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/PokeStack/" target="_blank">Facebook</a></li>
          <li><a href="https://plus.google.com/u/0/115703090421695424701" target="_blank">Google+</a></li>
      </ul>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="title">Tips</div>
    <ul>
        <li><a class="cursor-link" onclick="showDoorbellModal()">Submit a new resource</a></li>
        <li><a class="cursor-link" onclick="showDoorbellModal()">Report a dead link</a></li>
    </ul>
  </div>
</div>
</div>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <section>All content copyright <a href="http://pokestack.com">PokeStack</a> &copy; All rights reserved.</section>
          <section class="footer-text">Made with
            <div class="pokeball-small">
              <div class="pokeball-small__button"></div>
            </div>
             in <strong>Amsterdam</strong></section>
      </div>
    </div>
  </div>
</div>
</footer>
