<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 special-col">
        <a href="#/"><img src="images/LogoM.png" alt="logo" class="logo"></a>
        <h1><a href="#/">Poke<span class="font-bold">Stack</span></a></h1>
        <h2>A curated directory of Pokemon GO resources</h2>
      </div>
      <div class="col-sm-4 social-icons text-right">
        <a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <hr>
</header>
