<div class="row item">
  <div class="col-sm-3 col-xs-12">
    <a href="" target="_blank">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=512%C3%97512&w=512&h=512" class="img-responsive logo-site">
    </a>
  </div>
  <div class="col-sm-9 col-xs-12">
    <div class="content">
      <h3 class="title"><a href="https://www.drivy.com" target="_blank">Drivy</a></h3>
      <div class="description">Rent your car when you don't use it or rent one from your neighbor to go on holiday.</div>
      <div class="row">
        <div class="col-xs-8">
                                <span class="label label-info">EU</span>                                      </div>
        <div class="col-xs-4">
          <a href="/car/drivy" class="more">Read more <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
