<div class="container">
  <section class="about">
      <div class="colored-block white">
            <div class="container">
            		<div class="row">
  				        <div class="col-sm-12 text-block text-center">
                              <h2>We love Pokémon and we build apps</h2>
                              <p>If you like this product or want to add more things feel free to contact us</p>
                  </div>
            		</div> <!-- /row -->
            </div> <!-- /container -->
      </div> <!-- /white-->


      <div class="colored-block white team-section text-center">
          <div class="container">
             <div class="row">
                  <div class="col-sm-12 text-block">
                              <h2>Who we are</h2>
                          </div>

                  <div class="col-sm-3 col-sm-offset-3">
                      <div class="profile">
                          <img src="images/sandoche.jpeg" alt="Sandoche Picture" class="img-circle img-responsive" />
                          <h4>
                              Sandoche <strong>Adittane</strong>
                          </h4>
                          <div class="contact">
                              <a href="https://www.linkedin.com/in/sandoche" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                              <a href="http://www.sandoche.com" target="_blank"><i class="fa fa-globe fa-2x"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-3 center-col">
                      <div class="profile">
                          <img src="images/paschalis.jpeg" alt="Paschalis Picture" class="img-circle img-responsive" />
                          <h4>
                              Paschalis <strong>Tsolakidis</strong>
                          </h4>
                          <div class="contact">
                              <a href="https://www.linkedin.com/in/paschalis-tsolakidis-81b97945?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
</div>
