<section class="about">
      <div class="block block-gray">
            <div class="container">
            		<div class="row">
  				        <div class="col-sm-12 text-block text-center">
                              <h3>We love Pokémon and we build apps</h3>
                              <p>If you like this product or want to add more things feel free to contact us</p>
                              <button class="btn btn-default">Contact-us</button>
                  </div>
            		</div> <!-- /row -->
            </div> <!-- /container -->
      </div>


      <div class="text-center block">
          <div class="container">
             <div class="row">
                  <div class="col-sm-12 text-block">
                              <h3>Who we are</h3>
                          </div>

                  <div class="col-sm-3 col-sm-offset-3">
                      <div class="profile">
                          <img src="images/sandoche.jpg" alt="Sandoche Picture" class="img-circle img-responsive center-block" />
                          <h4>
                              Sandoche <strong>Adittane</strong>
                          </h4>
                          <div class="contact">
                              <a href="https://www.linkedin.com/in/sandoche" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                              <a href="http://www.sandoche.com" target="_blank"><i class="fa fa-globe fa-2x"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-3">
                      <div class="profile">
                          <img src="images/paschalis.jpg" alt="Paschalis Picture" class="img-circle img-responsive center-block" />
                          <h4>
                              Paschalis <strong>Tsolakidis</strong>
                          </h4>
                          <div class="contact">
                              <a href="https://www.linkedin.com/in/paschalis-tsolakidis-81b97945?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
</section>
